@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,200&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


.wrapper{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(12rem, 16rem));
    gap: 2rem;
    justify-content: center;
    margin-top: 12px;
  

}
.card_img{
    height: 12rem;
    width: 100%;
    object-fit: cover;
    border-radius: 12px 50px 12px 50px;
    
}
.card_title{
 padding: 1rem;
}

.card_description{
    padding: 0 1rem;
    text-align: justify;
    font-weight: 600;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    overflow: hidden;
    border-radius: 15px;
    justify-content: space-between;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    transition: transform 200ms ease-in;
    font-family: arial;
    margin-bottom: 30px;
  }
  .mySwiper{
      display: flex;
      width: 80%;
      height: auto;     
  }
  

  .dates{
      color : gray;
      text-align: left;
      padding: 0.6rem ;
      font-size: 0.7rem;
  }


  @media all and (max-width: 768px) {
    .wrapper{
        width: 10rem;
        margin-left: 30px;
        
    }
    .card_img{
        height: 8rem;
        width: 100%;
        object-fit: cover;
        border-radius: 12px 50px 12px 50px;
        
    }
    .card_title{
     padding: 0.8rem;
     font-size: 1rem;
    }
    
    .card_description{
        padding: 0 0.8rem;
        text-align: justify;
        font-size: 0.8rem;
    }
    
    .card {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        overflow: hidden;
        border-radius: 15px;
        justify-content: space-between;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        transition: transform 200ms ease-in;
        font-family: arial;
        margin-bottom: 30px;
       
       
      }






  }

  @media all and (max-width: 560px){
    .wrapper{
        width: 12rem;
        margin-left: 50px;
        
    }

    .card{
        margin-right: 70px;
        height: auto;
        margin-bottom: 30px;
    }
    .card_description{
        padding: 0 0.2rem;
        text-align: justify;
        font-size: 0.7rem;
    }
    .card_title{
        padding: 0.5rem;
        font-size: 0.8rem;
       }
       
  }